.car-service-wrapper {
    margin-top: 130px;
}

.left-side {
    border: 1px solid #DECFC0;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

p.left-side-para {
    padding: 15px 0px;
    font-size: 18px;
    color: var(--font-color1);
    position: relative;
}

.car-service-para,
p.carservice-para {
    font-size: 16px;
    padding: 10px 0px;
    color: var(--font-color1);

}

p.left-side-para span {
    color: var(--btn-color1);
}

p.left-side-para span::after {
    content: "";
    position: absolute;
    width: 5px;
    border-radius: 20px;
    height: 50%;
    bottom: 25%;
    background: var(--btn-color1);
    left: -30px;
}

p.left-side-para span::before {
    content: "";
    position: absolute;
    width: 5px;
    border-radius: 20px;
    height: 50%;
    bottom: 25%;
    background: var(--btn-color1);
    right: -30px;
}

h1.carservice-title {
    color: var(--font-color1);
    font-size: var(--title1-fs);
    font-weight: 600;
}

img.carservice-img {
    margin: 10px 0px;
}

.car-service-para span {

    font-weight: 700;
    color: var(--btn-color1);

}

p.carservice-para span {
    font-weight: 600;
}

h4.carphoto-title {
    font-weight: 700;
    margin: 30px 0px 6px 0px;
    color: var(--font-color1);

}

.car-give {
    display: flex;
    border: 1px solid #DECFC0;
    padding: 15px 30px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

p.give-para {
    color: var(--font-color1);
}

p.give-para span {
    font-weight: 700;
    color: var(--btn-color1);

}

h6.fromhead {
    color: var(--btn-color1);
    font-weight: 600;
}

p.from-para {
    font-weight: 700;
    font-size: 24px;
    color: var(--font-color1);
    margin: 30px 0px;
}

label.from-lavel {
    font-weight: 700;
    color: var(--font-color1);
}

.from-input {
    font-size: 16px;
    padding: 16px 20px 16px 24px;
    border-radius: 10px;
    color: var(--bg-color1);
    border: 1px solid #DECFC0;
    width: 100%;
    margin-bottom: 30px;

}

button.submit-bt {
    background: var(--bg-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 16px;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 15px;
}

.upload-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #DECFC0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.upload-container p {
    color: var(--bg-color1);
    font-size: 16px;
    margin: 10px 0;
}

.browse-button {
    display: inline-block;
    padding: 10px 20px;
    color: var(--bg-color1);
    font-size: 16px;
    border: 1px solid #DECFC0;
    border-radius: 52px;
    cursor: pointer;
    transition: .3s;
}

.file-input {
    display: none;
}

.browse-button:hover {
    background-color: #DECFC0;
}